In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas_profiling as pp
import sweetviz as sv

pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)

In [2]:
intake = pd.read_csv('./Austin_Animal_Center_Intakes.csv')
intake.columns = [i.lower().replace(' ', '_') for i in intake.columns]
intake

,animal_id,name,datetime,monthyear,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,April 2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,June 2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray
...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,04/28/2022 05:25:00 PM,April 2022,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Staffordshire Mix,Blue/White
138665,A856131,A856131,04/28/2022 05:25:00 PM,April 2022,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Staffordshire Mix,Brown Brindle/White
138666,A856132,A856132,04/28/2022 05:25:00 PM,April 2022,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,3 months,Staffordshire Mix,Brown Brindle/White
138667,A856141,NaN,04/28/2022 09:42:00 PM,April 2022,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown
138668,A856142,Bella,04/28/2022 10:52:00 PM,April 2022,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact Female,2 years,Bulldog,Brown/White

In [3]:
outcome = pd.read_csv('./Austin_Animal_Center_Outcomes.csv')
outcome.columns = [i.lower().replace(' ', '_') for i in outcome.columns]
outcome

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
138846,A855916,A855916,04/28/2022 05:22:00 PM,Apr 2022,04/10/2022,Transfer,Partner,Cat,Intact Female,2 weeks,Domestic Shorthair Mix,Orange Tabby
138847,A854150,*Cinnabar,04/28/2022 05:50:00 PM,Apr 2022,03/30/2021,Adoption,NaN,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
138848,A854323,*Avalon,04/28/2022 06:21:00 PM,Apr 2022,08/02/2021,Adoption,NaN,Dog,Spayed Female,8 months,Chinese Sharpei/Chow Chow,Red
138849,A855811,A855811,04/28/2022 06:23:00 PM,Apr 2022,01/27/2022,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever Mix,Brown Brindle/Black
138850,A855865,NaN,04/29/2022 09:54:00 AM,Apr 2022,04/24/2020,Died,NaN,Other,Unknown,2 years,Bat,Brown/Brown

In [4]:
intake.drop(columns='monthyear', inplace=True)  #dropping "monthyear" as the profile report shows that monthyear/datetime are completely redundant
outcome.drop(columns='monthyear', inplace=True)

In [5]:
intake.describe(include = 'object').T

                   count  unique                     top    freq
animal_id         138669  123968                 A721033      33
name               97394   23579                     Max     624
datetime          138669   97496  09/23/2016 12:00:00 PM      64
found_location    138669   58390             Austin (TX)   26065
intake_type       138669       6                   Stray   95349
intake_condition  138669      15                  Normal  119390
animal_type       138669       5                     Dog   78182
sex_upon_intake   138668       5             Intact Male   45665
age_upon_intake   138669      54                  1 year   23671
breed             138669    2741  Domestic Shorthair Mix   32207
color             138669     616             Black/White   14478

In [6]:
outcome.describe(include = 'object').T

                   count  unique                     top   freq
animal_id         138851  124143                 A721033     33
name               97586   23444                     Max    622
datetime          138851  115420  04/18/2016 12:00:00 AM     39
date_of_birth     138851    7579              05/01/2016    119
outcome_type      138828       9                Adoption  63542
outcome_subtype    63487      26                 Partner  33617
animal_type       138851       5                     Dog  78183
sex_upon_outcome  138850       5           Neutered Male  48900
age_upon_outcome  138844      54                  1 year  24034
breed             138851    2749  Domestic Shorthair Mix  32524
color             138851     619             Black/White  14487

In [8]:
intake.drop_duplicates(inplace=True)
outcome.drop_duplicates(inplace=True)

missing values in name + sex_upon_intake, fill them with "Unknown"

In [9]:
intake['name'] = intake['name'].fillna('Unknown')
intake['sex_upon_intake'] = intake['sex_upon_intake'].fillna('Unknown')

In [10]:
outcome['name'] = outcome['name'].fillna('Unknown')
outcome['outcome_type'] = outcome['outcome_type'].fillna('Unknown')
outcome['outcome_subtype'] = outcome['outcome_subtype'].fillna('Unknown')
outcome['sex_upon_outcome'] = outcome['sex_upon_outcome'].fillna('Unknown')

In [11]:
# pp.ProfileReport(outcome)

In [12]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A786884,*Brock,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,Unknown,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [13]:
intake['datetime']= pd.to_datetime(intake['datetime'])

In [14]:
outcome['datetime']= pd.to_datetime(outcome['datetime'])

In [15]:
intake['day_in'] = intake['datetime'].dt.day
intake['month_in'] = intake['datetime'].dt.month
intake['year_in'] = intake['datetime'].dt.year
intake['time_in'] = intake['datetime'].dt.time

In [16]:
outcome['day_out'] = outcome['datetime'].dt.day
outcome['month_out'] = outcome['datetime'].dt.month
outcome['year_out'] = outcome['datetime'].dt.year
outcome['time_out'] = outcome['datetime'].dt.time

In [17]:
intake.head()

intake['age_upon_intake'].value_counts()

1 year      23665
2 years     21790
1 month     13588
3 years      8072
2 months     7742
            ...
-3 years        1
25 years        1
24 years        1
30 years        1
28 years        1
Name: age_upon_intake, Length: 54, dtype: int64

In [20]:
intake

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,day_in,month_in,year_in,time_in
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,3,1,2019,16:19:00
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,5,7,2015,12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,14,4,2016,18:43:00
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Staffordshire Mix,Blue/White,28,4,2022,17:25:00
138665,A856131,A856131,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,1 year,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00
138666,A856132,A856132,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,3 months,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown,28,4,2022,21:42:00
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact Female,2 years,Bulldog,Brown/White,28,4,2022,22:52:00

In [21]:
def agein(df):
    
    cols = ['age_upon_intake']
    
    for i in cols:
            
        
        df[i] = df[i].replace({'years': 'y', 'year': 'y','months':'m', 'month': 'm','weeks': 'w', 'week': 'w','days': 'd', 'day':'d'},regex=True)
        
    return df

In [22]:
def ageout(df):
    
    cols = ['age_upon_outcome']
    
    for i in cols:
            
        
        df[i] = df[i].replace({'years': 'y', 'year': 'y','months':'m', 'month': 'm','weeks': 'w', 'week': 'w','days': 'd', 'day':'d'},regex=True)
        
    return df

In [23]:
agein(intake)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,day_in,month_in,year_in,time_in
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 y,Beagle Mix,Tricolor,3,1,2019,16:19:00
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 y,English Springer Spaniel,White/Liver,5,7,2015,12:59:00
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 m,Basenji Mix,Sable/White,14,4,2016,18:43:00
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4 w,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 y,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Female,4 m,Staffordshire Mix,Blue/White,28,4,2022,17:25:00
138665,A856131,A856131,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,1 y,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00
138666,A856132,A856132,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,3 m,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,2 y,Bat,Brown,28,4,2022,21:42:00
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact Female,2 y,Bulldog,Brown/White,28,4,2022,22:52:00

In [24]:
ageout(outcome)

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,day_out,month_out,year_out,time_out
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,Neutered Male,2 y,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,18:20:00
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,Neutered Male,1 y,Chihuahua Shorthair Mix,White/Brown,18,7,2018,16:02:00
2,A821648,Unknown,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,1 y,Raccoon,Gray,16,8,2020,11:38:00
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,Neutered Male,4 m,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,17:59:00
4,A674754,Unknown,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact Male,6 d,Domestic Shorthair Mix,Orange Tabby,18,3,2014,11:47:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138846,A855916,A855916,2022-04-28 17:22:00,04/10/2022,Transfer,Partner,Cat,Intact Female,2 w,Domestic Shorthair Mix,Orange Tabby,28,4,2022,17:22:00
138847,A854150,*Cinnabar,2022-04-28 17:50:00,03/30/2021,Adoption,Unknown,Cat,Neutered Male,1 y,Domestic Shorthair Mix,Brown Tabby,28,4,2022,17:50:00
138848,A854323,*Avalon,2022-04-28 18:21:00,08/02/2021,Adoption,Unknown,Dog,Spayed Female,8 m,Chinese Sharpei/Chow Chow,Red,28,4,2022,18:21:00
138849,A855811,A855811,2022-04-28 18:23:00,01/27/2022,Adoption,Unknown,Dog,Neutered Male,2 m,Labrador Retriever Mix,Brown Brindle/Black,28,4,2022,18:23:00
138850,A855865,Unknown,2022-04-29 09:54:00,04/24/2020,Died,Unknown,Other,Unknown,2 y,Bat,Brown/Brown,29,4,2022,09:54:00

In [25]:
def agesplitin(df):
    
    lst_age = ['age_upon_intake']
    
    for i in lst_age:
            
        
        df[[i, 'agechar']] = df[i].str.split(' ', expand=True)
        
    return df

In [26]:
def agesplitout(df):
    
    lst_age = ['age_upon_outcome']
    
    for i in lst_age:
            
        
        df[[i, 'agechar']] = df[i].str.split(' ', expand=True)
        
    return df

In [27]:
agesplitin(intake)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,day_in,month_in,year_in,time_in,agechar
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2,Beagle Mix,Tricolor,3,1,2019,16:19:00,y
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,y
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11,Basenji Mix,Sable/White,14,4,2016,18:43:00,m
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,w
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Female,4,Staffordshire Mix,Blue/White,28,4,2022,17:25:00,m
138665,A856131,A856131,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,1,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,y
138666,A856132,A856132,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,3,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,m
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,2,Bat,Brown,28,4,2022,21:42:00,y
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact Female,2,Bulldog,Brown/White,28,4,2022,22:52:00,y

In [28]:
agesplitout(outcome)

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,day_out,month_out,year_out,time_out,agechar
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,Neutered Male,2,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,18:20:00,y
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,Neutered Male,1,Chihuahua Shorthair Mix,White/Brown,18,7,2018,16:02:00,y
2,A821648,Unknown,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,1,Raccoon,Gray,16,8,2020,11:38:00,y
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,Neutered Male,4,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,17:59:00,m
4,A674754,Unknown,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact Male,6,Domestic Shorthair Mix,Orange Tabby,18,3,2014,11:47:00,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138846,A855916,A855916,2022-04-28 17:22:00,04/10/2022,Transfer,Partner,Cat,Intact Female,2,Domestic Shorthair Mix,Orange Tabby,28,4,2022,17:22:00,w
138847,A854150,*Cinnabar,2022-04-28 17:50:00,03/30/2021,Adoption,Unknown,Cat,Neutered Male,1,Domestic Shorthair Mix,Brown Tabby,28,4,2022,17:50:00,y
138848,A854323,*Avalon,2022-04-28 18:21:00,08/02/2021,Adoption,Unknown,Dog,Spayed Female,8,Chinese Sharpei/Chow Chow,Red,28,4,2022,18:21:00,m
138849,A855811,A855811,2022-04-28 18:23:00,01/27/2022,Adoption,Unknown,Dog,Neutered Male,2,Labrador Retriever Mix,Brown Brindle/Black,28,4,2022,18:23:00,m
138850,A855865,Unknown,2022-04-29 09:54:00,04/24/2020,Died,Unknown,Other,Unknown,2,Bat,Brown/Brown,29,4,2022,09:54:00,y

In [29]:
def ageminusin(df):
    
    lst_age = ['age_upon_intake']
    
    for i in lst_age:
            
        
        df[i] = df[i].replace({'-':''},regex=True) #assuming that the few negative values for age are just typos, turning them into positives
        
    return df

In [30]:
def ageminusout(df):
    
    lst_age = ['age_upon_outcome']
    
    for i in lst_age:
            
        
        df[i] = df[i].replace({'-':''},regex=True) #assuming that the few negative values for age are just typos, turning them into positives
        
    return df

In [31]:
ageminusin(intake)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,day_in,month_in,year_in,time_in,agechar
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2,Beagle Mix,Tricolor,3,1,2019,16:19:00,y
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,y
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11,Basenji Mix,Sable/White,14,4,2016,18:43:00,m
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,w
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Female,4,Staffordshire Mix,Blue/White,28,4,2022,17:25:00,m
138665,A856131,A856131,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,1,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,y
138666,A856132,A856132,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact Male,3,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,m
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,2,Bat,Brown,28,4,2022,21:42:00,y
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact Female,2,Bulldog,Brown/White,28,4,2022,22:52:00,y

In [32]:
ageminusout(outcome)

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,day_out,month_out,year_out,time_out,agechar
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,Neutered Male,2,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,18:20:00,y
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,Neutered Male,1,Chihuahua Shorthair Mix,White/Brown,18,7,2018,16:02:00,y
2,A821648,Unknown,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,1,Raccoon,Gray,16,8,2020,11:38:00,y
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,Neutered Male,4,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,17:59:00,m
4,A674754,Unknown,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact Male,6,Domestic Shorthair Mix,Orange Tabby,18,3,2014,11:47:00,d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138846,A855916,A855916,2022-04-28 17:22:00,04/10/2022,Transfer,Partner,Cat,Intact Female,2,Domestic Shorthair Mix,Orange Tabby,28,4,2022,17:22:00,w
138847,A854150,*Cinnabar,2022-04-28 17:50:00,03/30/2021,Adoption,Unknown,Cat,Neutered Male,1,Domestic Shorthair Mix,Brown Tabby,28,4,2022,17:50:00,y
138848,A854323,*Avalon,2022-04-28 18:21:00,08/02/2021,Adoption,Unknown,Dog,Spayed Female,8,Chinese Sharpei/Chow Chow,Red,28,4,2022,18:21:00,m
138849,A855811,A855811,2022-04-28 18:23:00,01/27/2022,Adoption,Unknown,Dog,Neutered Male,2,Labrador Retriever Mix,Brown Brindle/Black,28,4,2022,18:23:00,m
138850,A855865,Unknown,2022-04-29 09:54:00,04/24/2020,Died,Unknown,Other,Unknown,2,Bat,Brown/Brown,29,4,2022,09:54:00,y

In [33]:
intake = intake.astype({'age_upon_intake':'float'})

In [34]:
outcome = outcome.astype({'age_upon_outcome':'float'})

In [35]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,day_in,month_in,year_in,time_in,agechar
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2.0,Beagle Mix,Tricolor,3,1,2019,16:19:00,y
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8.0,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,y
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11.0,Basenji Mix,Sable/White,14,4,2016,18:43:00,m
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,4.0,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,w
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4.0,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,y

In [36]:
def ageconvertmonthin(row):
    
    if row['agechar'] == 'y':
        return row['age_upon_intake']*12
    if row['agechar'] == 'm':
        return row['age_upon_intake']   
    if row['agechar'] == 'w':    
        return row['age_upon_intake']/4.348
    if row['agechar'] == 'd':
        return row['age_upon_intake']/30.43

In [37]:
def ageconvertmonthout(row):
    
    if row['agechar'] == 'y':
        return row['age_upon_outcome']*12
    if row['agechar'] == 'm':
        return row['age_upon_outcome']   
    if row['agechar'] == 'w':    
        return row['age_upon_outcome']/4.348
    if row['agechar'] == 'd':
        return row['age_upon_outcome']/30.43

In [38]:
intake['age_month'] = intake.apply(ageconvertmonthin, axis=1).round(4)

In [39]:
outcome['age_month'] = outcome.apply(ageconvertmonthout, axis=1).round(4)

In [40]:
def ageconvertyearin(row):
    
    if row['agechar'] == 'y':
        return row['age_upon_intake']
    if row['agechar'] == 'm':
        return row['age_upon_intake']/12
    if row['agechar'] == 'w':    
        return row['age_upon_intake']/52.08 #average amount of weeks per year
    if row['agechar'] == 'd':
        return row['age_upon_intake']/365.24 #average amount of days per year

In [41]:
def ageconvertyearout(row):
    
    if row['agechar'] == 'y':
        return row['age_upon_outcome']
    if row['agechar'] == 'm':
        return row['age_upon_outcome']/12
    if row['agechar'] == 'w':    
        return row['age_upon_outcome']/52.08 #average amount of weeks per year
    if row['agechar'] == 'd':
        return row['age_upon_outcome']/365.24 #average amount of days per year

In [42]:
intake['age_year'] = intake.apply(ageconvertyearin, axis=1).round(4) #rounding to 4 here, to not introduce rounded '0s' to be able to still distinguish between animals born in shelter and animals entering shortly after

In [43]:
outcome['age_year'] = outcome.apply(ageconvertyearout, axis=1).round(4) #rounding to 4 here, to not introduce rounded '0s' to be able to still distinguish between animals born in shelter and animals entering shortly after

In [44]:
intake.drop(columns=['age_upon_intake', 'agechar'] ,inplace=True) #dropping columns that are not needed any longer
outcome.drop(columns=['age_upon_outcome', 'agechar'] ,inplace=True) #dropping columns that are not needed any longer

In [45]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,breed,color,day_in,month_in,year_in,time_in,age_month,age_year
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,Beagle Mix,Tricolor,3,1,2019,16:19:00,24.00,2.0000
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,96.00,8.0000
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,Basenji Mix,Sable/White,14,4,2016,18:43:00,11.00,0.9167
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact Female,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,0.92,0.0768
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.00,4.0000

In [46]:
intake['sex_upon_intake'].value_counts()

Intact Male      45659
Intact Female    43337
Neutered Male    20839
Spayed Female    17738
Unknown          11076
Name: sex_upon_intake, dtype: int64

In [47]:
def sexsplitin(df):
    
    lst_age = ['sex_upon_intake']
    
    for i in lst_age:
            
        
        df[[i, 'sex']] = df[i].str.split(' ', expand=True)
        
    return df

In [48]:
def sexsplitout(df):
    
    lst_age = ['sex_upon_outcome']
    
    for i in lst_age:
            
        
        df[[i, 'sex']] = df[i].str.split(' ', expand=True)
        
    return df

In [49]:
sexsplitin(intake)

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,breed,color,day_in,month_in,year_in,time_in,age_month,age_year,sex
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered,Beagle Mix,Tricolor,3,1,2019,16:19:00,24.00,2.0000,Male
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,96.00,8.0000,Female
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact,Basenji Mix,Sable/White,14,4,2016,18:43:00,11.00,0.9167,Male
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,Intact,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,0.92,0.0768,Female
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.00,4.0000,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138664,A856135,A856135,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact,Staffordshire Mix,Blue/White,28,4,2022,17:25:00,4.00,0.3333,Female
138665,A856131,A856131,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,12.00,1.0000,Male
138666,A856132,A856132,2022-04-28 17:25:00,1511 Cripple Creek Drive in Austin (TX),Stray,Normal,Dog,Intact,Staffordshire Mix,Brown Brindle/White,28,4,2022,17:25:00,3.00,0.2500,Male
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,Bat,Brown,28,4,2022,21:42:00,24.00,2.0000,None
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,Intact,Bulldog,Brown/White,28,4,2022,22:52:00,24.00,2.0000,Female

In [50]:
sexsplitout(outcome)

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,sex_upon_outcome,breed,color,day_out,month_out,year_out,time_out,age_month,age_year,sex
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,Neutered,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,18:20:00,24.0000,2.0000,Male
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,Neutered,Chihuahua Shorthair Mix,White/Brown,18,7,2018,16:02:00,12.0000,1.0000,Male
2,A821648,Unknown,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,Raccoon,Gray,16,8,2020,11:38:00,12.0000,1.0000,None
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,Neutered,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,17:59:00,4.0000,0.3333,Male
4,A674754,Unknown,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,Intact,Domestic Shorthair Mix,Orange Tabby,18,3,2014,11:47:00,0.1972,0.0164,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138846,A855916,A855916,2022-04-28 17:22:00,04/10/2022,Transfer,Partner,Cat,Intact,Domestic Shorthair Mix,Orange Tabby,28,4,2022,17:22:00,0.4600,0.0384,Female
138847,A854150,*Cinnabar,2022-04-28 17:50:00,03/30/2021,Adoption,Unknown,Cat,Neutered,Domestic Shorthair Mix,Brown Tabby,28,4,2022,17:50:00,12.0000,1.0000,Male
138848,A854323,*Avalon,2022-04-28 18:21:00,08/02/2021,Adoption,Unknown,Dog,Spayed,Chinese Sharpei/Chow Chow,Red,28,4,2022,18:21:00,8.0000,0.6667,Female
138849,A855811,A855811,2022-04-28 18:23:00,01/27/2022,Adoption,Unknown,Dog,Neutered,Labrador Retriever Mix,Brown Brindle/Black,28,4,2022,18:23:00,2.0000,0.1667,Male
138850,A855865,Unknown,2022-04-29 09:54:00,04/24/2020,Died,Unknown,Other,Unknown,Bat,Brown/Brown,29,4,2022,09:54:00,24.0000,2.0000,None

In [51]:
intake['sex'] = intake['sex'].fillna('Unknown')
outcome['sex'] = outcome['sex'].fillna('Unknown')

In [52]:
intake.rename(columns={'sex_upon_intake': 'neutered_intake'},inplace=True)
intake['neutered_intake'].replace({'Intact': 'no', 'Neutered': 'yes', 'Spayed': 'yes'}, inplace=True)

In [53]:
outcome.rename(columns={'sex_upon_outcome': 'neutered_outcome'},inplace=True)
outcome['neutered_outcome'].replace({'Intact': 'no', 'Neutered': 'yes', 'Spayed': 'yes'}, inplace=True)

In [54]:
intake.head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month,age_year,sex
0,A786884,*Brock,2019-01-03 16:19:00,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,yes,Beagle Mix,Tricolor,3,1,2019,16:19:00,24.00,2.0000,Male
1,A706918,Belle,2015-07-05 12:59:00,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,yes,English Springer Spaniel,White/Liver,5,7,2015,12:59:00,96.00,8.0000,Female
2,A724273,Runster,2016-04-14 18:43:00,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,no,Basenji Mix,Sable/White,14,4,2016,18:43:00,11.00,0.9167,Male
3,A665644,Unknown,2013-10-21 07:59:00,Austin (TX),Stray,Sick,Cat,no,Domestic Shorthair Mix,Calico,21,10,2013,07:59:00,0.92,0.0768,Female
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.00,4.0000,Male

In [55]:
outcome.head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month,age_year,sex
0,A794011,Chunk,2019-05-08 18:20:00,05/02/2017,Rto-Adopt,Unknown,Cat,yes,Domestic Shorthair Mix,Brown Tabby/White,8,5,2019,18:20:00,24.0000,2.0000,Male
1,A776359,Gizmo,2018-07-18 16:02:00,07/12/2017,Adoption,Unknown,Dog,yes,Chihuahua Shorthair Mix,White/Brown,18,7,2018,16:02:00,12.0000,1.0000,Male
2,A821648,Unknown,2020-08-16 11:38:00,08/16/2019,Euthanasia,Unknown,Other,Unknown,Raccoon,Gray,16,8,2020,11:38:00,12.0000,1.0000,Unknown
3,A720371,Moose,2016-02-13 17:59:00,10/08/2015,Adoption,Unknown,Dog,yes,Anatol Shepherd/Labrador Retriever,Buff,13,2,2016,17:59:00,4.0000,0.3333,Male
4,A674754,Unknown,2014-03-18 11:47:00,03/12/2014,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Orange Tabby,18,3,2014,11:47:00,0.1972,0.0164,Male

In [56]:
intake_ml = intake.copy()

In [57]:
intake.sort_values(by=['animal_id','year_in','month_in','day_in'])

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month,age_year,sex
91320,A006100,Scamp,2014-03-07 14:26:00,8700 Research in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,3,2014,14:26:00,72.00,6.0000,Male
4335,A006100,Scamp,2014-12-19 10:21:00,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,19,12,2014,10:21:00,84.00,7.0000,Male
20209,A006100,Scamp,2017-12-07 14:07:00,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,yes,Spinone Italiano Mix,Yellow/White,7,12,2017,14:07:00,120.00,10.0000,Male
70976,A047759,Oreo,2014-04-02 15:55:00,Austin (TX),Owner Surrender,Normal,Dog,yes,Dachshund,Tricolor,2,4,2014,15:55:00,120.00,10.0000,Male
96565,A134067,Bandit,2013-11-16 09:02:00,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,yes,Shetland Sheepdog,Brown/White,16,11,2013,09:02:00,192.00,16.0000,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138659,A856136,Unknown,2022-04-28 17:55:00,6800 Austin Center Boulevard in Austin (TX),Stray,Normal,Dog,Unknown,Siberian Husky Mix,Black/White,28,4,2022,17:55:00,24.00,2.0000,Unknown
138657,A856137,A856137,2022-04-28 18:29:00,403 Shady Lane in Austin (TX),Stray,Normal,Dog,Unknown,German Shepherd Mix,Brown,28,4,2022,18:29:00,1.00,0.0833,Unknown
138660,A856138,Unknown,2022-04-28 18:21:00,Austin (TX),Stray,Normal,Cat,no,Domestic Shorthair,Brown Tabby,28,4,2022,18:21:00,0.92,0.0768,Female
138667,A856141,Unknown,2022-04-28 21:42:00,Austin (TX),Wildlife,Normal,Other,Unknown,Bat,Brown,28,4,2022,21:42:00,24.00,2.0000,Unknown
138668,A856142,Bella,2022-04-28 22:52:00,1901 West Anderson Lane in Austin (TX),Public Assist,Normal,Dog,no,Bulldog,Brown/White,28,4,2022,22:52:00,24.00,2.0000,Female

In [58]:
outcome.sort_values(by=['animal_id','datetime'])

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month,age_year,sex
115122,A006100,Scamp,2014-03-08 17:10:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,8,3,2014,17:10:00,72.0000,6.0000,Male
56633,A006100,Scamp,2014-12-20 16:35:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,20,12,2014,16:35:00,84.0000,7.0000,Male
101392,A006100,Scamp,2017-12-07 00:00:00,07/09/2007,Return to Owner,Unknown,Dog,yes,Spinone Italiano Mix,Yellow/White,7,12,2017,00:00:00,120.0000,10.0000,Male
39108,A047759,Oreo,2014-04-07 15:12:00,04/02/2004,Transfer,Partner,Dog,yes,Dachshund,Tricolor,7,4,2014,15:12:00,120.0000,10.0000,Male
81413,A134067,Bandit,2013-11-16 11:54:00,10/16/1997,Return to Owner,Unknown,Dog,yes,Shetland Sheepdog,Brown/White,16,11,2013,11:54:00,192.0000,16.0000,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138834,A856070,Baby,2022-04-28 15:31:00,04/28/2006,Return to Owner,Unknown,Cat,no,Domestic Shorthair,Calico,28,4,2022,15:31:00,192.0000,16.0000,Female
138821,A856096,78 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Blue Tabby,28,4,2022,14:59:00,0.0329,0.0027,Male
138823,A856097,81 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Blue Tabby,28,4,2022,14:59:00,0.0329,0.0027,Male
138822,A856098,66 Grams,2022-04-28 14:59:00,04/27/2022,Transfer,Partner,Cat,no,Domestic Shorthair Mix,Brown Tabby/White,28,4,2022,14:59:00,0.0329,0.0027,Male
138845,A856124,Unknown,2022-04-28 17:22:00,04/24/2022,Transfer,Partner,Cat,Unknown,Domestic Shorthair Mix,White/Gray,28,4,2022,17:22:00,0.1314,0.0110,Unknown

In [59]:
outcome.dropna(inplace=True)

In [61]:
intake.rename(columns={'age_month': 'age_month_in','age_year': 'age_year_in'},inplace=True)
outcome.rename(columns={'age_month': 'age_month_out','age_year': 'age_year_out'},inplace=True)

In [62]:
intake.to_csv('./intake_clean.csv', index=False)
outcome.to_csv('./outcome_clean.csv', index=False)

In [63]:
intake[(intake['animal_id']=='A682524')].head()

,animal_id,name,datetime,found_location,intake_type,intake_condition,animal_type,neutered_intake,breed,color,day_in,month_in,year_in,time_in,age_month_in,age_year_in,sex
4,A682524,Rio,2014-06-29 10:38:00,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,29,6,2014,10:38:00,48.0,4.0,Male

In [64]:
outcome[(outcome['animal_id']=='A682524')].head()

,animal_id,name,datetime,date_of_birth,outcome_type,outcome_subtype,animal_type,neutered_outcome,breed,color,day_out,month_out,year_out,time_out,age_month_out,age_year_out,sex
20761,A682524,Rio,2014-07-02 14:16:00,06/29/2010,Return to Owner,Unknown,Dog,yes,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2,7,2014,14:16:00,48.0,4.0,Male